.login-form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // gap: 10px;
    align-items: center;
    // justify-content: center;
    position: relative;
    height: 100%;

    // background-image: url('../../../assets/images/girl-reading-book.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}