/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Comfortaa", sans-serif !important;
}

@include mat.core();

$my-primary: mat.define-palette(mat.$brown-palette, 500);
$my-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
      ),
      density: 0,
    ));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($my-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($my-theme);

// Include the theme mixins for other components you use here.

.alert-info {
  background-color: blanchedalmond;
  border-radius: 10px;
  padding: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 15px;

  @media (max-width: 800px) {
    padding: 10px 15px;
  }
}

.mdc-text-field--filled:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-line-ripple::before,
.mdc-text-field--filled:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-line-ripple::before,
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-color: #ffab40 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
  color: #795548 !important;
  opacity: 0.9;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
}

mat-paginator {
  background-color: transparent !important;
}