<div class="user-role">
    <div class="close" [mat-dialog-close]="false">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path
                d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
        </svg>
    </div>
    <h2>Edit roles for {{data.name}}</h2>

    <div class="modal-body">
        <form #rolesForm="ngForm" id="rolesForm">
            <div class="form-check" *ngFor="let role of data.roles">
                <mat-checkbox [color]="'primary'" class="example-margin" [checked]="role.checked" (change)="role.checked = !role.checked"
                    [disabled]="role.name === 'Admin'">
                    {{role.name}}
                </mat-checkbox>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" mat-raised-button color="primary" [mat-dialog-close]="false">Cancel</button>
        <button class="btn" mat-raised-button color="accent" [mat-dialog-close]="data.roles" (click)="updateRoles()">Submit</button>
    </div>
</div>