.img-thumbnail {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.card-body {
    padding: 0 15px;
    @media (max-width: 800px) {
        padding: 15px 0;
    }
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.card {
    display: grid;
    grid-template-columns: 400px auto;

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}