.member-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
}

.form-inline {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 28px;

    @media (max-width: 800px) {
        justify-content: center;
    }

    button {
        margin-top: 8px;
    }
}