<div class="container">

    <div class="text-center">
        <!-- <h2>Your matches - {{pagination.totalItems}} found</h2> -->
    </div>

    <div>
        <form #form="ngForm" class="form-inline" (ngSubmit)="loadMembers()" autocomplete="off">

            <mat-form-field>
                <mat-label>{{ 'FILTER.AGE_FROM' | translate }}</mat-label>
                <input matInput name="ageFrom" [(ngModel)]="userParams.minAge" maxlength="3" placeholder="Age from">
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'FILTER.AGE_TO' | translate }}</mat-label>
                <input matInput name="ageTo" [(ngModel)]="userParams.maxAge" maxlength="3" placeholder="Age to">
            </mat-form-field>

            <!-- <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput name="city" [(ngModel)]="userParams.city" maxlength="80" placeholder="City">
            </mat-form-field> -->
            <mat-form-field>
                <mat-label>{{ 'NAVIGATION.CITY' | translate }}</mat-label>
                <mat-select [(value)]="userParams.city">
                    @for (city of cityList; track city) {
                    <mat-option [value]="city.value">{{ city.display }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <div class="form-group px-2">
                <mat-form-field>
                    <mat-label>{{ 'FILTER.SHOW' | translate }}</mat-label>
                    <mat-select [(value)]="userParams.gender">
                        @for (gender of genderList; track gender) {
                        <mat-option [value]="gender.value">{{ gender.display }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <button class="btn" mat-flat-button color="primary" type="submit">{{ 'FILTER.APPLY_FILTERS' | translate }}</button>
            <button class="btn" mat-flat-button color="accent" (click)="resetFilters()" type="submit">{{ 'FILTER.RESET_FILTERS' |
                translate }}</button>

            <!-- <button class="btn btn-primary ml-1" type="submit">Apply Filters</button> -->
            <!-- <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Reset Filters</button> -->
            <!-- <div class="col">
            <div class="btn-group float-right">
                <button 
                    type="button"
                    class="btn btn-primary" 
                    name='orderBy' 
                    (click)="loadMembers()"
                    btnRadio='lastActive'
                    [(ngModel)]="userParams.orderBy">Last Active</button>
    
                <button 
                    type="button"
                    class="btn btn-primary" 
                    name='orderBy' 
                    (click)="loadMembers()"
                    btnRadio='created'
                    [(ngModel)]="userParams.orderBy">Newest Members</button>
            </div>
        </div> -->


        </form>
    </div>


    <div class="member-list">
        <div class="member-item" *ngFor="let member of members">
            <app-member-card [member]="member"></app-member-card>
        </div>
    </div>
    <div *ngIf="pagination" class="pagination">
        <mat-paginator [length]="pagination.totalItems" [pageSize]="pagination.itemsPerPage"
            [pageIndex]="pagination.currentPage - 1" (page)="onPageChange($event)">
        </mat-paginator>
    </div>

</div>