<!-- <p *ngFor="let message of messages">
    {{message?.content}}
</p>     -->

<div class="card">
    <div class="card-body" #scrollMe style="overflow: scroll; height: 535px;" [scrollTop]="scrollMe.scrollHeight">
        <!-- <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
            No messages yet... say hi by using the message box below
        </div> -->

        <ul
        #scrollMe
        [scrollTop]="scrollMe.scrollHeight"
        *ngIf="(messageService.messageThread$ | async)!.length > 0" class="chat">
            <li *ngFor="let message of (messageService.messageThread$ | async)">
                <div class="chat-wrapper">
                    <span class="chat-img float-end">
                        <!-- <img class="rounded-circle" 
                        src="{{message.senderPhotoUrl || './assets/user.png'}}"
                        alt="{{message.senderUserName}}"> -->

                        <img class="rounded-circle" 
                        [src]="message.senderPhotoUrl ? 'data:image/png;base64,' 
                        + message.senderPhotoUrl : './assets/images/user.png'"
                        alt="{{message.senderUserName}}">
                    </span>
                    <div class="chat-body">
                        <div class="header">
                            <small>
                                <span class="chat-name">{{message.senderUserName}}</span>
                                <span class="read-icon">
                                    <span class="text-danger" *ngIf="!message.dateRead 
                                    && message.senderUserName !== username">
                                        <ng-container *ngTemplateOutlet="icon"></ng-container>
                                    </span>
                                    <span class="text-success" *ngIf="message.dateRead 
                                    && message.senderUserName !== username">
                                        <ng-container *ngTemplateOutlet="icon"></ng-container>
                                    </span>
                                    <span class="text-muted">{{message.messageSent | date: 'dd MMM yyyy'}}</span></span>

                            </small>
                        </div>
                        <p>{{message.content}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <form [formGroup]="messagesForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <mat-form-field>
                    <mat-label>Send a private message</mat-label>
                    <textarea formControlName="messageContent" matInput></textarea>
                </mat-form-field>
                <div class="input-group-append">
                    <button mat-flat-button [disabled]="!messagesForm.valid" color="primary" class="btn btn-primary"
                        type="submit">Send
                        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<ng-template #icon>
    <svg xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
            d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
    </svg>
</ng-template>