img {
    max-width: 100px;
}
.chat {
    padding: 0;
    overflow: scroll;
    height: 500px;
}
.input-group {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    mat-form-field {
        width: 100%;
    }

    &-append, button {
        @media (max-width: 800px) {
            width: 100%;
        }
    }
}
.chat-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }
}

.text-muted {
    opacity: 0.3;
}

.chat-name {
   color: #d9905e;
}

.chat-body {
    width: 100%;
}

.header small {
    display: flex;
    justify-content: space-between;
}

.read-icon {
    display: flex;
    align-items: center;
    gap: 6px;
    svg {
        width: 10px;
        height: 10px;
    }
    .text-success {
        fill: red;
    }
    .text-danger svg {
        opacity: 0.4;
    }
}