footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 100px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-links li {
    display: inline-block;
    margin-right: 20px;
}

.contact-info {
    p {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    svg {
        fill: var(--text-color);
        width: 20px;
        height: 20px;
    }
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-icons svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
}

a {
    color: var(--text-color);
}

.logo .opacity {
    color: #fff;
}