<div class="home">
    <h1 class="home__title">
        {{ 'HOME.TITLE' | translate }}
    </h1>
    <!-- <img class="img" src="../../assets/images/corgi.png" alt=""> -->
    <p class="home__text"> 
        {{ 'HOME.DESCRIPTION' | translate }}    
    </p>
    <div class="home__btns">
        <button mat-flat-button color="primary" (click)="openDialog()">{{ 'HOME.REGISTER' | translate }}</button>
        <button mat-stroked-button color="primary">{{ 'HOME.LEARN_MORE' | translate }}</button>
    </div>
</div>