.home {
    text-align: center;
    padding: 10px;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    // justify-content: center;
    background-image: url('../../assets/images/corgi-main1.jpg');
    background-size: cover;
    background-color: #ebebeb;
    background-position: bottom center;

    @media (max-width: 600px) {
        background-position-y: bottom;
        background-position-x: -200px;
    }


    &__title {
        padding-top: 100px;
    }

    &__text {
        margin-bottom: 24px;
        max-width: 560px;
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

.img {
    max-width: 400px;
}
