<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="nav-mob" mode="over">
    <ng-container *ngTemplateOutlet="nav"></ng-container>
  </mat-drawer>

  <div>
    <mat-toolbar class="nav-desk">
      <ng-container *ngTemplateOutlet="nav"></ng-container>
    </mat-toolbar>

    <main class="main">
      <!-- <button (click)="switchLanguage('ru')">RU</button> -->

      <router-outlet></router-outlet>
    </main>
  </div>
  <app-footer></app-footer>
</mat-drawer-container>

<ng-template #nav>
  <app-nav (isOpen)="open($event, drawer)"></app-nav>
</ng-template>

<ngx-spinner></ngx-spinner>