<mat-toolbar>
    <div class="nav-container">
        <div routerLink="/">
            <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button> -->
            <span>Dating App</span>
        </div>

        <nav *ngIf="isAuth | async">
            <div class="nav-item" routerLink="/members" routerLinkActive="active">Matches</div>
            <div class="nav-item" routerLink="/lists" routerLinkActive="active">Lists</div>
            <div class="nav-item" routerLink="/messages" routerLinkActive="active">Messages</div>
        </nav>

        <ng-container *ngIf="(isAuth | async) as user; else noAuth">
            
            <button class="btn-icon" mat-button [matMenuTriggerFor]="menu">Welcome {{user.knownAs}}
                <img class="avatar" src="{{user.photoUrl || '../../../assets/images/user.png'}}" alt="{{user.username}}">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
                </svg>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="member/edit">Edit profile</button>
                <button mat-menu-item (click)="logout()">
                    Logout
                </button>
            </mat-menu>
        </ng-container>

        <ng-template #noAuth>
            <button mat-raised-button (click)="openDialog()">LOGIN</button>
        </ng-template>

    </div>
</mat-toolbar>