.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-top {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 800px) {
        gap: 40px;
        flex-direction: column;
    }
}

:host {
    width: 100%;
}

::ng-deep .btn-icon .mdc-button__label {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
        width: 16px;
    }
}

nav {
    font-size: 14px;
    font-weight: normal;
    display: flex;
    gap: 20px;

    .nav-item {
        opacity: 0.5;
        cursor: pointer;
    }

    .nav-item.active {
        opacity: 1;
    }
}

.avatar {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border: 2px solid var(--dark-color);
    border-radius: 50%;
}

.mat-mdc-button:not(:disabled) {
    // color: #fff;
}

button svg {
    fill: var(--main-color);
}

.burger {
    display: none;
}

.burger svg {
    fill: var(--dark-color);
    width: 20px;
    height: 20px;
}

@media (max-width: 800px) {
    .burger {
        display: flex;
    }
}


.select-dropdown {
    position: relative;
    background-color: #e6e6e6;
    width: auto;
    float: left;
    max-width: 100%;
    border-radius: 2px;

    select {
        font-family: "helvetica neue", helvetica;
        font-size: 1rem;
        font-weight: 200;
        max-width: 100%;
        padding: 8px 24px 8px 10px;
        border: none;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    &:after {
        content: " ";
        position: absolute;
        top: 50%;
        margin-top: -2px;
        right: 8px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #aaa;
    }
}

.name-bold {
    color: var(--main-color);
    font-weight: bold;
}
