.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

mat-toolbar {
    background-color: #d9905e;
    color: #fff;
}

::ng-deep .btn-icon .mdc-button__label {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
        width: 16px;
    }
}

nav {
    font-size: 14px;
    font-weight: normal;
    display: flex; 
    gap: 20px;
    .nav-item {
        opacity: 0.5;
        cursor: pointer;
    }
    .nav-item.active {
        opacity: 1;
    }
}

.avatar {
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
}

.mat-mdc-button:not(:disabled) {
    color: #fff;
}

button svg {
    fill: #fff;
}