<div class="container">
    <div class="home">
        <!-- <h1 class="home__title">
            {{ 'HOME.TITLE' | translate }}
        </h1> -->
        <section class="main">
            <!-- <h1>{{ 'HOME.TITLE' | translate }}</h1> -->
            <div class="main__inner">
                <div>
                    <h1 class="main__title">Find Your Perfect PawMatch <br> <span>The Top Dating App for Dogs</span></h1>
                    <h4 class="main__text">
                        Looking for a furry friend or potential mate for your pup? Look no further than PawMatch, the
                        ultimate
                        dating app for dogs. Connect with other dog owners and their pups in your area, and find the perfect
                        match for your four-legged companion.
                    </h4>
    
                    <div class="main__btns">
                        <button mat-flat-button color="primary" (click)="openDialog()">{{ 'HOME.REGISTER' | translate }}</button>
                        <button mat-stroked-button color="primary">{{ 'HOME.LEARN_MORE' | translate }}</button>
                    </div>
                </div>
                <div></div>
            </div>
    
            <div class="main__img">
                <img src="../../../assets/images/corgi404.png" alt="">
            </div>
        </section>
    
        <section class="why">
            <h2 class="why__title">
                Why us ?
            </h2>
            <div class="why-list">
                <div class="why-list__item">
                    <div class="item-number">
                        01
                    </div>
                    <div class="item-title">
                        Personalized Matching
                    </div>
                    <div class="item-text">
                        Our advanced algorithm matches dogs based on their breed, size, activity level, and personality to ensure the perfect pairing.
                    </div>
                </div>
                <div class="why-list__item">
                    <div class="item-number">
                        02
                    </div>
                    <div class="item-title">
                        Verified Profiles
                    </div>
                    <div class="item-text">
                        All of our dog profiles are verified to ensure authenticity, giving you peace of mind when choosing a companion for your beloved pup.
                    </div>
                </div>
                <div class="why-list__item">
                    <div class="item-number">
                        03
                    </div>
                    <div class="item-title">
                        Detailed Profiles
                    </div>
                    <div class="item-text">
                        Get to know the potential playmate for your dog with our detailed profiles, including photos, personality traits, and more.
                    </div>
                </div>
                <div class="why-list__item">
                    <div class="item-number">
                        04
                    </div>
                    <div class="item-title">
                        Messaging System
                    </div>
                    <div class="item-text">
                        Connect with other dog owners in your area and arrange play dates for your pups through our convenient messaging system.
                    </div>
                </div>
                <div class="why-list__item">
                    <div class="item-number">
                        05
                    </div>
                    <div class="item-title">
                        Success Stories
                    </div>
                    <div class="item-text">
                        Join the growing community of satisfied PawMatch users who have found the perfect friend for their dog. Read their heartwarming success stories on our website.
                    </div>
                </div>
            </div>
        </section>
        <!-- <img class="img" src="../../assets/images/corgi.png" alt=""> -->
    </div>
</div>