<div class="container">
    <div class="home">
        <!-- <h1 class="home__title">
            {{ 'HOME.TITLE' | translate }}
        </h1> -->
        <section class="main">
            <!-- <h1>{{ 'HOME.TITLE' | translate }}</h1> -->
            <div class="main__inner">
                <div>
                    <h1 class="main__title">{{ 'HOME.TITLE' | translate }} <br> <span>{{ 'HOME.SUB_TITLE' | translate }}</span></h1>
                    <h4 class="main__text">
                        {{ 'HOME.DESCRIPTION' | translate }}
                    </h4>
    
                    <div class="main__btns">
                        <button class="btn" mat-flat-button color="primary" (click)="openDialog()">{{ 'HOME.REGISTER' | translate }}</button>
                        <button class="btn" mat-stroked-button color="primary">{{ 'HOME.LEARN_MORE' | translate }}</button>
                    </div>
                </div>
                <div></div>
            </div>
    
            <div class="main__img">
                <img src="../../../assets/images/corgi404.png" alt="">
            </div>
        </section>
    
        <section class="why">
            <h2 class="why__title">
                {{ 'WHY_US.TITLE' | translate }}
            </h2>
            <div class="why-list">
                <div class="why-list__item">
                    <div class="item-number">
                        01
                    </div>
                    <div class="item-title">
                        {{ 'WHY_US.ITEM1_TITLE' | translate }}
                    </div>
                    <div class="item-text">
                        {{ 'WHY_US.ITEM1_TEXT' | translate }}
                    </div>
                </div>
                <div class="why-list__item">
                    <div class="item-number">
                        02
                    </div>
                    <div class="item-title">
                        {{ 'WHY_US.ITEM2_TITLE' | translate }}
                    </div>
                    <div class="item-text">
                        {{ 'WHY_US.ITEM2_TEXT' | translate }}
                    </div>
                </div>
                <div class="why-list__item">
                    <div class="item-number">
                        03
                    </div>
                    <div class="item-title">
                        {{ 'WHY_US.ITEM3_TITLE' | translate }}
                    </div>
                    <div class="item-text">
                        {{ 'WHY_US.ITEM3_TEXT' | translate }}
                    </div>
                </div>
                <div class="why-list__item">
                    <div class="item-number">
                        04
                    </div>
                    <div class="item-title">
                        {{ 'WHY_US.ITEM4_TITLE' | translate }}
                    </div>
                    <div class="item-text">
                        {{ 'WHY_US.ITEM4_TEXT' | translate }}
                    </div>
                </div>
                <div class="why-list__item">
                    <div class="item-number">
                        05
                    </div>
                    <div class="item-title">
                        {{ 'WHY_US.ITEM5_TITLE' | translate }}
                    </div>
                    <div class="item-text">
                        {{ 'WHY_US.ITEM5_TEXT' | translate }}
                    </div>
                </div>
            </div>
        </section>
        <!-- <img class="img" src="../../assets/images/corgi.png" alt=""> -->
    </div>
</div>