img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.card-img {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 200px;
    border-radius: 10px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.card-body {
    padding-top: 10px;
}

.card-title {
    font-weight: bold;
}

.card-title,
.card-text {
    margin-bottom: 0;
}

.card:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}

.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    opacity: 0;

    list-style: none;
    display: flex;
    gap: 8px;
    padding: 0;
    align-items: center;
    justify-content: center;

    button {
        border: none;
        background-color: transparent;
        border: none;
    }

    svg {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

.list-inline-item {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: opacity 1 ease-in;
    cursor: pointer;
    opacity: 1;

    &:hover {
        opacity: 0.7;
    }
}

.card-img:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}

@keyframes fa-blink {
    0% {opacity: 1;}
    100% {opacity: 0.4;}
}

.is-online {
    animation: fa-blink 1.5s linear infinite;
    color: rgb(1, 189, 42);
}