<div class="photos">
    <div class="photos-item" *ngFor="let photo of member.photos">
        <img [src]="'data:image/png;base64,' + photo.imageData" class="img-thumbnail p-1">
        <div class="photos-nav">
            <!-- {{photo.isMain}} -->
            <!-- [ngClass]='photo.isMain ? "btn-success active" : "btn-outline-success"' -->
            <button [disabled]="photo.isMain" (click)="setMainPhoto(photo)" mat-flat-button
                color="primary">
                Main
            </button>
            <button [disabled]="photo.isMain" (click)="deletePhoto(photo.id)" mat-flat-button color="accent">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                        d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                </svg>
            </button>
        </div>
    </div>
</div>

<div class="app-photos">
    <h2>{{ 'ABOUT.ADD_PHOTOS' | translate }}</h2>
    <!-- <file-upload [control]="fileUploadControl"></file-upload> -->
    <file-upload [control]="fileUploadControl">
        <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
            <file-upload-drop-zone>
                @if (isFileDragDropAvailable) {
                    {{ 'ABOUT.PHOTO_UPLOAD_DRAG' | translate }}
                } @else {
                    {{ 'ABOUT.PHOTO_UPLOAD_CLICK' | translate }}
                }
            </file-upload-drop-zone>
        </ng-template>

        <ng-template let-i="index" let-file="file" let-control="control" #item>
            <file-upload-list-item  [index]="i" [file]="file" [control]="control">{{ 'MESSAGES.DELETE' | translate }}</file-upload-list-item>
        </ng-template>
    </file-upload>

    <button class="btn" (click)="sendPhoto()" mat-flat-button color="primary">{{ 'ABOUT.SEND_PHOTO' | translate }}</button>

</div>