<div class="select-type-btn-cnt">
  <ng-container *ngFor="let control of formControlData">
    <button 
      class="select-type-btn"
      [disabled]="disabled" 
      (click)="selectFormControl(control.value)" 
      [class.selected]="!disabled && selected === control.value"
      [style.color]="control.color" [style.background-color]="control.background">
      <h4 class="select-type-btn__title">{{ control?.text }}</h4>
      <h6 *ngIf="control?.subtitle" class="select-type-btn__text"
      [style.color]="control.color">{{ control?.subtitle }}</h6>
    </button>
  </ng-container>
</div>